.search {
    width: 30%;
    height: 30px;
    padding: 20px 35px;
    font-size: 20px;
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
}

.news-container {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 40px auto;

    .news_item {
        border: 1px solid white;
        border-radius: 5px;
        overflow: hidden;

        img {
            width: 100%;
        }

        .news_title {
            padding: 10px;
            font-size: 23px;
            font-weight: 800px;
        }

        .content {
            padding: 0 10px;
            font-size: 18px;
        }

        .news_data {
            padding: 10px 10px;
            font-size: 14px;
            color: #c7c7c7;
        }

        .news_link {
            color: #7474be;
            text-decoration: none;
            cursor: pointer;
        }
    }
}